.App {
  text-align: center;
}

body {
  background-color: #f7e1a3;
}

.App-logo, img {
  height: 20vmin;
  pointer-events: none;
}

img {
  height: 40vmin;
}

.App-header {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  font-size: 18px;
  outline: none;
  color: #60dafb;
  background-color: #282c34;
}
button:hover {
  cursor: pointer;
  background-color: aliceblue;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
